[{:itonami.blueprint/social-impact [:farm-viability :sustainable-agriculture :knowledge-preservation], :itonami.blueprint/domain :agriculture/farm-management, :itonami.blueprint/required-technologies [:robotics :identity :forms :dmn :bpmn :audit-ledger], :itonami.blueprint/isco-08 "1311", :itonami.blueprint/name "Agricultural and Forestry Production Manager", :itonami.blueprint/governor :farm-management-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-1311", :itonami.blueprint/license "AGPL-3.0-or-later"}]
